@use '@angular/material' as mat;

.header {
    min-height: 250px;
    background-color: var(--mat-sys-tertiary);
    color: var(--mat-sys-on-tertiary);
    display: flex;
    align-items: flex-end;
    gap: 16px;

    h2 {
        margin-bottom: 0;
    }
}

.profile-photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.info-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
}

.address-box {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.btn-menu {
    position: absolute;
    right: 16px;
    top: 16px;
}

.btn-header {
    color: var(--mat-sys-on-tertiary);
}