<mat-card appearance="outlined">
    <mat-card-content>
        <table>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Email</th>
            </tr>
            @for (user of firebase.users; track $index) {
                <tr routerLink="/user/{{ user.id }}">
                    <td>{{ user.firstName }} {{ user.lastName }}</td>
                    <td>{{ user.city }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            }
        </table>
    </mat-card-content>
</mat-card>

<button (click)="openDialog()" class="btn-add-user" mat-fab #tooltip="matTooltip" matTooltip="Add user"
    [matTooltipPosition]="'above'" matTooltipHideDelay="1000">
    <mat-icon>add</mat-icon>
</button>