/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.position-relative {
    position: relative;
}

.dialog-row {
    display: flex;
    gap: 16px;
}

.width-100 {
    width: 100%;
}